@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">oi esse é o meu ku</h1>
    @if(TempData["Erro"] != null)
    {
        <div class="alert alert-danger">
        @TempData["Erro"]
        </div>
        
    }
     @if(TempData["Sucesso"] != null)
    {
        <div class="alert alert-sucess">
        @TempData["Sucesso"]
        </div>
        
    }
</div>
